body {
    width: 1000px;
    /*font-family: 'メイリオ',*/
    /*'Hiragino Kaku Gothic Pro',*/
    /*sans-serif;*/
    font-family: "HG行書体", Times, serif;
    background-color: #a38570;
    margin: auto;
    color: #edf1f2;
}

header{
    width: 980px;
    /*height: 100px;*/
    /*border: solid 1px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 25px;
    background-color: #8e725e;
    padding-bottom: 3px;
}

.contents {
    margin-top: 50px;
}


nav li {
    display: inline;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width:200px;
    /*height: 50px;*/
    /*border: solid 1px;*/
    margin-top: 10px;
    margin-left: 50px;
}

.logo_theme {
    height: 150px;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 25px;
}

.title_img {
    width: 600px;
    margin-top: 0px;
    margin-left: 9px;
    border-radius: 25px;
    
}

.basic_info {
    /*position: absolute;*/
    /*top:0px; */
    word-break:break-word;
    
    width: 345px;
    height: 336px;
    border: solid 1px;
    float: right;
    margin-right: 9px;
    border-radius: 25px;
    padding: 8px;
    background-color: #8e725e;
    font-size: 31px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}

.about-info {
    word-break:break-all;
    width: 422px;
    height: 353px;
    border: solid 1px;
    float: right;
    /*margin-right: 9px;*/
    border-radius: 25px;
    padding: 1px;
    background-color: #8e725e;
}


.articles {
    margin-top: 50px;
}

.articlelist {
    padding: 0px;
    margin-left:9px;
}

footer {
    margin-top: 50px;
}

.articles li {
    position: relative;
    display: inline;
    text-align: justify;
    margin-right: 10px;
    border-radius: 25px;
}

.article-img {
    position:relative;
    margin-left:0px;
    margin-right:0px;
    text-align: center;
    width: 314px;
    /*clip-path: circle(150px at center);*/
}



.category {
    z-index: 1;
    visibility: hidden;
    position:absolute;
    /*border: solid 1px;*/
    font-size:36px;
    font-weight: bold;
    left: 0;
    width:100%;
    text-align:center;
    top: -100px;
    
}



.articles li:hover .category{ 
    /*filter: brightness(50%);*/
    visibility: visible;
}

.articles li:hover img{ 
    filter: brightness(50%);
    /*visibility: visible;*/
}

.social {
    text-align: center
 
}

.logo_scl {
    width:64px;
    height: 64px;
}

h1 {
    text-align: center;
}

.about-img {
    float:left;
    width: 600px;
}

.contact-banner {
    width: 940px;
    /*height: 100px;*/
    /*border: solid 1px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    background-color: #8e725e;
    padding-bottom: 3px;
    margin-left: 30px;
    
}

table{
   border: 1px solid #8e725e;;
   font-size: 28px;
  

}

th {
    background-color: #8e725e;
   
}
th, td {
   border: 1px solid #8e725e;
   /*font-size: 22px;*/
   padding: 10px;
   
}

/*.article-img{*/
/*    width: 330px;*/
/*}*/


.contact_form {
    /*float: right;*/
    font-size: 32px;
}














* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/*body {*/
/*	font-family:"Open Sans", Helvetica, Arial, sans-serif;*/
/*	font-weight:300;*/
/*	font-size: 12px;*/
/*	line-height:30px;*/
/*	color:#777;*/
/*	background:#0CF;*/
/*}*/

.container {
	max-width:700px;
	width:100%;
	margin:0 auto;
	position:relative;
	
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "HG行書体", Times, serif; }

#contact {
	background:#8e725e;
	padding:25px;
	margin:50px 0;
	border-radius: 25px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 38px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:26px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#aa8c75;
	
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:28px;
}

#contact button[type="submit"]:hover {
	background:#b2927b;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.gallery-table img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gallery-table {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
}

#gallery-title{
    margin: 20px;
    font-size:40px;
    text-decoration: underline;
}


.aArticle:link {
    color:#edf1f2;
}

.aArticle:visited {
    color:#edf1f2;
}


